.header {
  border-bottom: 1px solid #ececec;

  &__webstudio {
    width: 145px;
    height: 31px;
    color: #000000;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    margin-right: 93px;
  }

  &__studio {
    color: #2196f3;
  }
  &__menu {
    display: flex;
    max-width: 294px;
  }

  &__menu .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__menu &__special {
    color: $text-hover-focus;
  }

  &__menu .link:hover,
  &__menu .link:focus {
    color: $text-hover-focus;
    transition: 250ms $time-distribution-function;
  }

  &__menu .link::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;

    background: $text-hover-focus;
    border-radius: 2px;
    transform: scaleX(0);
    transition: 250ms $time-distribution-function;
  }
  &__special .link::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: $text-hover-focus;
    border-radius: 2px;
    transform: scaleX(1);
  }
  &__menu &__special::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;

    background: $text-hover-focus;
    border-radius: 2px;
    transform: scaleX(1);
  }

  &__menu .link:hover::after,
  &__menu .link:focus::after {
    transform: scaleX(1);
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__auth-item {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__auth-item:hover,
  &__auth-item:focus {
    color: $text-hover-focus;
    transition: 250ms $time-distribution-function;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }

  &__menu {
    display: flex;
    max-width: 294px;
  }

  &__auth {
    display: flex;
    margin-left: auto;
  }

  &__auth-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__auth-icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
  }

  &__auth-item:hover &__auth-icon {
    fill: $text-hover-focus;
  }

  &__auth-item_phone {
    margin-left: 50px;
  }
}
